body {
    font-family: 'Roboto', sans-serif; /* Устанавливаем шрифт для всей страницы */
    text-align: center; /* Центрируем текст на странице */
}

h1 {
    font-weight: bold; /* Сделаем текст заголовка жирным */
}

.custom-text {
    font-size: 24px; /* Размер шрифта для нашего текста */
    font-weight: bold; /* Жирное начертание */
    color: red; /* Цвет текста */
    margin-top: 20px; /* Отступ сверху */
}

/* Медиазапросы для уменьшения размера шрифта на маленьких экранах */
@media (max-width: 600px) {
    .custom-text {
        font-size: 18px; /* Меньший размер шрифта для маленьких экранов */
    }
}

#ton-connect {
    position: fixed; /* Фиксируем элемент на странице */
    top: 10px;      /* Отступ сверху */
    right: 10px;    /* Отступ справа */
    z-index: 1000;  /* Убедитесь, что элемент находится поверх других элементов */
}